<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.storm.storm" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity android:name=".ActivityMain" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityDishOrder"
            android:label="@string/title_activity_orderdish"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ActivityPay"
            android:label="@string/title_activity_payment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityList"
            android:label="@string/title_activity_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityBoss"
            android:label="@string/title_activity_boss"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityManager"
            android:label="@string/title_activity_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityChef"
            android:label="@string/title_activity_chef"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityVIP"
            android:label="@string/title_activity_vip"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityComment"
            android:label="@string/title_activity_comment_customer"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>